.horizontal-scroll__item_active {
    font-weight: bold;
    position: relative;
}

.horizontal-scroll__item_active .link {
    cursor: default;
    color: inherit;
    pointer-events: none;
}

.horizontal-scroll__item_active::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #ff7931;

    position: absolute;
    bottom: -16px;
    left: -10px;
    right: -10px;
}

@media screen and (max-width: 939px) {
    .horizontal-scroll__item_active:not(:first-of-type)::after,
    .horizontal-scroll__item_active:not(:last-of-type)::after{
        bottom: -8px;
        left: 0;
        right: 0;
    }

    .horizontal-scroll__item_active:first-of-type::after {
        bottom: -8px;
        left: 15px;
        right: 0;
    }

    .horizontal-scroll__item_active:last-of-type::after {
        bottom: -8px;
        left: 0;
        right: 15px;
    }
}
