@import url('__item/user-nav__item.css');
@import url('__cart-counter/user-nav__cart-counter.css');

.user-nav {
    margin-right: 12px;

    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

@media screen and (max-width: 1079px) {
    .user-nav {
        gap: 12px;
    }
}