@import url('../../button/button.css');
@import url('../../button/_type/_burger/button_type_burger.css');
@import url('../../logo/logo.css');
@import url('../../main-menu/main-menu.css');
@import url('../../user-nav/user-nav.css');

@import url('../__address/header__address.css');
@import url('../__menu/header__menu.css');

.header__top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
}

@media screen and (min-width: 1040px) and (max-width: 1079px) {
    .header__top-row {
        gap: 15px;
    }
}

@media screen and (max-width: 1039px) {
    .header__top-row {
        gap: 10px;
    }
}

@media screen and (max-width: 939px) {
    .header__top-row {
        padding-top: 15px;
    }
}
