.promo__slider {
    width: 100%;
}

.promo__slider::before {
    content: "";
    display: block;
    background-image: url("../../../../images/promo-picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: calc(400 / 870 * 100%);
}


@media screen and (max-width: 939px) {
    .promo__slider::before {
        margin-left: -15px;
        margin-right: -15px;
    }
}
