@import url('../../templates/link/link.css');
@import url('../../templates/list/list.css');
@import url('../../templates/wrapper/wrapper.css');

@import url('__accordion-toggle/footer__accordion-toggle.css');
@import url('__container/footer__container.css');
@import url('__content-block/footer__content-block.css');
@import url('__form/footer__form.css');
@import url('__section-header/footer__section-header.css');
@import url('__small-text/footer__small-text.css');

.footer {
    background-color: #f4f4f6;
    font-size: 14px;
}


@media screen and (max-width: 659px) {
    .footer {
        background-color: #f9f9fc;
    }
}