@import url('__item/categories__item.css');

.categories {
    margin: 15px 0;

    display: flex;
    justify-content: space-between;
    gap: 15px;
}


@media screen and (min-width: 940px) and (max-width: 1039px) {
    .categories {
        font-size: 18px;
    }
}
