@media screen and (max-width: 1039px) {
    .header__nav-row {
        font-size: 18px;
    }
}

@media screen and (min-width: 940px) {
    .header__nav-row {
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }
}
