<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="ware-card.css">
</head>

<body class="root">


  <a class="ware-card link" href="#">

    <p class="ware-card__flag">Sale</p>

    <div class="ware-card__attributes-section">
      <button
        class="button favorite-button card__attribute"
        type="button"
        title="Добавить в избранное"
      ></button>
      <span class="card__attribute snowflake-icon"></span>
    </div>

    <figure class="ware-card__image-section">
      <picture>
        <source srcset="" type="image/webp">
        <img class="ware-card__image"
             src="../../../images/tyre_winter.png"
             alt="Изображение товара"
        >
      </picture>
      <figcaption>Шина 205/80 R16 104Q Misha RF Power Grum</figcaption>
    </figure>

    <div class="ware-card__offer">
      <p class="ware-card__offer  ware-card__offer_price">11 680 ₽</p>
      <div class="ware-card__offer hidden ware-card__offer_not-available">
        <p class="ware-card__not-available-text">Нет в наличии</p>
        <button class="button ware-card__notify-button"
                type="button"
        >Сообщить о поступлении</button>
      </div>
    </div>

    <span class=" ware-card__presence-icon card__attribute"></span>
    
    <button
      class="button ware-card__preview-button"
            type="button"
    >
      Быстрый просмотр
    </button>

  </a>



</body>
</html>