/* Defines the width of the content on the page.
 So ready to varies between different blocks.
 */

.wrapper {
    max-width: 1170px;
    min-width: 290px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}