@media screen and (min-width: 1040px) {
    .search__modes-list {
        margin: 0;
        gap: 30px;
    }
}

@media screen and (min-width: 940px) {
    .search__modes-list {
        justify-content: flex-start;
        color: #000;
        height: 50px;
    }
}
@media screen and (min-width: 940px) and (max-width: 1039px) {
    .search__modes-list {
        gap: 0;
    }
}

@media screen and (max-width: 939px) {
    .search__modes-list {
        gap: 40px;
    }
}
