@import url('__container/header__container.css');

/* top-row */
@import url('__top-row/header__top-row.css');
@import url('__address/header__address.css');
@import url('__burger-button/header__burger-button.css');
@import url('__logo/header__logo.css');
@import url('__main-menu/header__main-menu.css');
@import url('__menu-block/header__menu-block.css');
@import url('../user-nav/user-nav.css');

/* nav-row */
@import url('__nav-row/header__nav-row.css');
@import url('__nav-list/header__nav-list.css');


.header {
    width: 100%;
    height: 175px;
}

@media screen and (max-width: 1079px) {
    .header {
        height: 150px;
    }
}

@media screen and (max-width: 939px) {
    .header {
        height: 110px;
        padding-top: 10px;
    }
}
