@import url('../../templates/hidden/hidden.css');
@import url('../../templates/link/link.css');
@import url('../../templates/list/list.css');
@import url('../../templates/wrapper/wrapper.css');

@import url('__container/header__container.css');
@import url('__top-row/header__top-row.css');
@import url('__nav-row/header__nav-row.css');

.header {
    width: 100%;
    height: 175px;
}

@media screen and (max-width: 1079px) {
    .header {
        height: 150px;
    }
}

@media screen and (max-width: 939px) {
    .header {
        height: 110px;
        padding-top: 10px;
    }
}
