.footer__form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


@media screen and (max-width: 939px) {
    .footer__form {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 659px) {
    .footer__form {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 479px) {
    .footer__form {
        max-width: calc(100vw - 30px);
    }
}
