.footer__form-description {
    font-weight: bold;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 659px) {
    .footer__form-description {
        text-align: center;
        font-size: 17px;
    }
}