.card-slider__cards-container {
    display: flex;
    gap: 30px;
    justify-self: center;

    overflow: hidden;
    padding: 15px;
    margin: -15px;
}


@media screen and (max-width: 1349px) {
    .card-slider__cards-container {
        width: 870px;
    }
}

@media screen and (max-width: 1039px) {
    .card-slider__cards-container {
        width: 570px;
    }
}

@media screen and (max-width: 659px) {
    .card-slider__cards-container {
        width: 270px;
    }
}
