.card__image-section {
    margin: 0;
    padding-bottom: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}