.header__main-menu {
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 450px;
}

@media screen and (max-width: 1079px) {
    .header__main-menu {
        max-width: 370px;
        font-size: 18px;
    }
}

@media screen and (max-width: 939px) {
    .header__main-menu {
        display: none;
    }
}