@import url('../../../templates/button/button.css');
@import url('../../../ui-elements/logo/logo.css');
@import url('../../user-nav/user-nav.css');

@import url('../__burger-button/header__burger-button.css');
@import url('../__logo/header__logo.css');
@import url('../__menu-block/header__menu-block.css');

.header__top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
}

@media screen and (min-width: 1040px) and (max-width: 1079px) {
    .header__top-row {
        gap: 15px;
    }
}

@media screen and (max-width: 1039px) {
    .header__top-row {
        gap: 10px;
    }
}
