@import url('../__categories-item/header__categories-item.css');

.header__categories-list {
    margin: 15px 0;

    display: flex;
    justify-content: space-between;
    gap: 15px;
}


@media screen and (min-width: 940px) and (max-width: 1039px) {
    .header__categories-list {
        font-size: 18px;
    }
}
