@import url('_active/header__categories-item_active.css');

.header__categories-item {
    white-space: nowrap;
}


@media screen and (max-width: 939px) {
    .header__categories-item:first-of-type {
        padding-left: 15px;
    }

    .header__categories-item:last-of-type {
        padding-right: 15px;
    }
}
