@media screen and (min-width: 940px) {
    .logo_placed_header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 939px) {
    .logo_placed_header {
        width: 70px;
        height: 40px;
        margin-left: 35px;
    }
}