.promo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


@media screen and (max-width: 939px) {
    .promo__container {
        flex-direction: column;
        margin-left: -15px;
        margin-right: -15px;
        gap: 50px;
    }
}
