.ware-card__preview-button {
    width: 230px;
    height: 60px;

    color: #48494d;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    display: none;
}

.ware-card__preview-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
