@import url('../../button/button.css');
@import url('../../button/__burger/button__burger.css');

.header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
}

@media screen and (min-width: 1040px) and (max-width: 1079px) {
    .header__top {
        gap: 15px;
    }
}

@media screen and (max-width: 1039px) {
    .header__top {
        gap: 10px;
    }
}

@media screen and (max-width: 939px) {
    .header__top {
        padding-top: 15px;
    }
}
